# IBM watsonx.ai Credentials
WATSONX_API_KEY=QAq2zl8C1PkeZz3lEf9QxNnORifdrXoOHLTRZyyVe4zB
WATSONX_PROJECT_ID=c7fbbfb0-c205-4bb7-a563-ff9de0eb143e
WATSONX_URL= https://us-south.ml.cloud.ibm.com 

# Flask Configuration
FLASK_SECRET_KEY=kisan-mitra-secret-2024
FLASK_DEBUG=False
FLASK_PORT=5000
