Flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.32.3
ibm-watsonx-ai==1.5.14
langchain==0.2.12
langchain-community==0.2.11
langchain-ibm==0.1.11
sentence-transformers==2.7.0
faiss-cpu==1.12.0
